{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    // conflict between standard and standard-typescript
    "no-void": ["error", { "allowAsStatement": true }]
  },
  "overrides": [
    {
      "files": [ "**/*.test.ts"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ]
}