name: Continuous Integration
on:
  push:
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"

env:
  CI: true
  COVERALLS: 0

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Maintenance and active LTS
        node-version: [12, 14, 16]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    name: Node ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        id: setup_node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        id: install
        run: npm install --ignore-scripts

      - name: Check licenses
        id: license_check
        run: |
          npm run license-checker --if-present
      # Unit and lint tests
      - name: Tests
        id: test
        run: npm run test

      - name: coverage
        id: coverage
        run: npm run coverage

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          flag-name: run-${{ matrix.node-version }}-${{ matrix.os }}

      - name: Typescript
        id: typescript_test
        run: npm run typescript --if-present

  coverage:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true

  automerge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v2.4.0
        if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}